<!-- 管理员登录界面 -->

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
        <form method='post' action='/adminLogin'>
                            <table width='400' height="252" align='center' style='margin-top: 120px'>
                                <tr>
                                    <td align='right'>用户名:</td>
                                    <td>
                                        <input type='text' name='email' class="form-control"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align='right'>密码:</td>
                                    <td>
                                        <input type='password' name='pwd' class="form-control"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align='center' colspan='2'>
                                        <input type='submit' class="btn btn-primary" value='登陆'/>
                                    </td>
                                </tr>
                            </table>
                        </form>

</body>
</html>