<!-- 管理员登录后的主界面2 -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

	<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

	<style type="text/css">
		
		#table_body{
			height: 80%;
			margin: 5%;
		}
		#ul_td_left{
			height: 100%;
			width: 20%;
			vertical-align: top;
			border: 1px solid #000000;
		}
		.liebiao{
			margin-top: 10%;
			text-align: center;
			width: 100%;
			height: 20%;
		}
		#right_div{
			height:100%;
			border: 1px solid #000000;
		}

	</style>
</head>
<body>
	<div class="container">
	{% include "admin/adminhead.html" %}
		<div id="table_body" class='row'>
			<div id="ul_td_left" class="col-md-3 col-sm-3 col-xs-3">
				{% include "admin/adminleft.html" %}
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1">
			</div>
			<div id='right_div' class="col-md-8 col-sm-8 col-xs-8">
				<div>
					<table class="table">
						<!-- 将申请的商家信息显示 -->
					  <thead>
					    <tr>
					      <th>餐厅名称</th>
					      <th>餐厅地址</th>
					      <th>联系电话</th>
					      <th>操作</th>
					    </tr>
					  </thead>
					  <tbody>
					    
						{% for item in applist %} <!-- 将商家申请信息全部显示 -->
						<tr>
							<td>{{item.shopname}}</td>
							<td>{{item.address}}</td>
							<td>{{item.tel}}</td>
							<td>
								<a href="shopinfo?shopid={{item._id}}">查看</a>  <!-- 前端页面请求获取id,并传到shopinfo页面 -->
							</td>
						</tr>
						{% endfor %}

					  </tbody>
					</table>

				</div>	
			</div>
		</div>
	</div>
</body>
</html>